.list {
  margin: 8rem 0 2rem 0;
  padding: 1rem;
  border-radius: 20px;
  max-height: calc(100vh - 14rem);
  flex-grow: 1;
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: minmax(200px, 800px);
  grid-template-rows: repeat(3, max-content);
  grid-row-gap: 1rem;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  display: none;
 }

.work {
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #21f8f6;  
}

.position {
  color: #ccc;
  font-size: 1rem;  
}

.period {
  margin-top: 10px;
  color: #ccc;
  font-size: 1rem;
}


@media screen and (max-width: 767px) {
  .position {
    padding: 1rem 2rem;
    font-size: 2rem;
  }
}